@{
    Layout = "_UserLayout";
}
<body>
    <div class="access-denied">
        <div class="access-denied-header">
            <p>Access Denied!</p>
            <span>You have not enough permission to this section</span>
        </div>
        <img src="~/images/banned.png" />
    </div>
</body>
