html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    min-height:100vh;
}

.wrapper {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    display: table;
    min-height: 700px;
    background-image: linear-gradient(160deg, #000428 0%, #004e92 100%);
}

.container {
    position: relative;
    max-width: 1200px;
    height: calc(100% - 50px);
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 50px;
}

.login-form-container {
    position: absolute;
    margin: auto auto;
    top: 25%;
    left: 0;
    right: 0;
    height: 300px;
    width: 500px;
}

.login-form {
    position: relative;
    margin: auto auto;
    left: 0;
    right: 0;
    height: 300px;
    width: 500px;
}

    .login-form div {
        position: relative;
        display: block;
        background-color: rgba(255,255,255, .2);
        width: 300px;
        height: 40px;
        margin: auto;
        left: 0;
        right: 0;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .login-form input {
        outline: none;
        border: none;
        height: 100%;
        float: right;
        width: 250px;
        padding: 0;
        background-color: transparent;
        color: whitesmoke;
        font-size: 20px;
        font-family: 'Courier New';
    }

        .login-form input::placeholder {
            color: rgba(255,255,255, .5);
        }

        .login-form input:focus, textarea:focus {
            outline: none;
            background-color: transparent;
        }
input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: white !important;
}

    .login-form img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5px;
        margin: auto;
        float: left;
        max-height: 32px;
        opacity: .6
    }

.signIn {
    position: relative;
    width: 300px;
    height: 40px;
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(255,255,255, .4);
    border-radius: 20px;
    border: none;
    outline: none;
    color: rgba(255,255,255, .7);
    font-size: 20px;
    font-family: 'Courier New';
    font-weight: 600;
    margin-top: 30px;
}

.login-page-header {
    position: relative;
    text-align: center;
    font-size: 32px;
    color: rgba(255,255,255, .7);
    font-family: 'Courier New';
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.header-container {
    position: relative;
    margin-bottom: 10px;
    height: 150px;
    width: 100%;
}

    .header-container img {
        position: relative;
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        max-height: 80px;
    }

.logged-container {
    position: relative;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
}

.top-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0, .3);
    border-bottom: 1px solid rgba(255,255,255, .5);
    z-index: 1;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.top-menu{
    position:relative;
    width:auto;
    max-width:1200px;
    height: 100%;
    margin:auto;
    left:0;
    right:0;
}
.menu {
    position: relative;
    font-family: Cinzel;
    color: rgba(255,255,255, .8);
    font-size: 16px;
    height: 100%;
    margin: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    list-style: none;
}
    .menu li {
        display: inline-block;
        height: 100%;
        padding: 0 20px 0 20px;
        cursor:pointer;
    }
li a:hover {
    color: white;
    transform: scale(1.1);
}
li a {
    display: block;
    line-height: 2em;
    cursor: pointer;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(255,255,255, .8);
}
.logout {
    position: absolute;
    right: 15px;
    top: 0;
    color: rgba(255,255,255, .8);
    font-size: 16px;
    cursor: pointer;
    height: 100%;
}
    .logout a {
        line-height: 40px;
        height: 100%;
        position: relative;
        display: block;
        float: left;
        padding: 0 0 0 10px;
        text-decoration: none;
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }
    .logout a img {
        display: block;
        float: left;
        max-height: 25px;
        margin: auto;
        max-width: 25px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        opacity: .8
    }
        .logout a span {
            font-size:16px;
            font-family: Cinzel;
            padding: 0 0 0 10px;
            color: rgba(255,255,255, .8);
        }

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Medium.ttf');
}

.access-denied {
    position: absolute;
    height: 260px;
    width: 600px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}
.access-denied-header {
    position: relative;
    height: 130px;
    width: fit-content;
    margin: auto;
}

    .access-denied-header p {
        color: rgba(251, 24, 56, .9);
        text-align: center;
        font-size: 40px;
        font-family: Cinzel;
        display: block;
        margin: 10px 0 10px 0;
    }

    .access-denied-header span {
        color: rgba(251, 24, 56, .9);
        text-align: center;
        font-size: 22px;
        font-family: Cinzel;
        display: block;
    }

.access-denied img {
    position: relative;
    height: 103px;
    display: block;
    margin: auto;
}

.accounts-menu {
    position: relative;
    width: auto;
    max-width: 1200px;
    height: 40px;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 20px;
}

.menu li input {
    background-color: transparent;
    display: inline-block;
    height: 100%;
    padding: 0 20px 0 20px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(255,255,255, .8);
    font-size: 16px;
    font-family: Cinzel;
}

    .menu li input:hover {
        transform: scale(1.1);
        color: white;
    }

.change-password {
    position: relative;
    height: 300px;
    width: 600px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.change-permission {
    position: relative;
    height: 300px;
    width: 600px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.api-key {
    position: relative;
    height: 300px;
    width: 600px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.password-changing-form {
    position: relative;
    margin: auto auto;
    left: 0;
    right: 0;
    height: 300px;
    width: 500px;
    margin-top: 20px;
}

    .password-changing-form div {
        position: relative;
        display: block;
        background-color: rgba(255,255,255, .2);
        width: 300px;
        height: 40px;
        margin: auto;
        left: 0;
        right: 0;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .password-changing-form input {
        outline: none;
        border: none;
        height: 100%;
        float: right;
        width: calc(100% - 20px);
        padding: 0 10px 0 10px;
        background-color: transparent;
        color: whitesmoke;
        font-size: 20px;
        font-family: 'Courier New';
        text-align: center;
    }
.accounts-content{
    padding-top:50px;
}

.accounts-img {
    position: relative;
    display: block;
    height:80px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: .9;
}

.readonly-api-key {
    position: relative;
    display: block;
    background-color: rgba(255,255,255, .2);
    width: 300px;
    height: 40px;
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    border-radius: 5px;
}
.error-section {
    background-color: transparent!important;
    text-align: center;
    color: red;
    font-size: 16px;
    font-family: 'Cinzel';
    height: auto!important;
    margin-bottom: 0!important;
}

.error-section ul{
    list-style:none;
    padding:0;
}

.results-container {
    margin-top: -20px !important;
    position: absolute !important;
    z-index: 1;
    background-color: #344F76 !important;
    height: auto !important;
}

.results-container a {
    display: none;
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    background-color: white;
    width: calc(100% - 18px);
    margin: auto;
    border-left: 1px solid rgba(184,184,184, .8);
    border-right: 1px solid rgba(184,184,184, .8);
}

#registerForm{
    display:none;
}

.less-margin{
    margin-top: 10px!important;
}

.refresh-container {
    padding-top: 50px;
}
.refresh-img {
    position: relative;
    display: block;
    height: 80px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: .9;
}
.refresh-content {
    position: relative;
    height: 170px;
    width: 600px;
    left: 0;
    right: 0;
    margin: auto;
}
.refresh-button {
    position: relative;
    width: 120px;
    height: 30px;
    left: -5px;
    right: 0;
    margin: auto;
    display: block;
    margin-top: 20px;
}

.map-centering {
    position: relative;
    left:0;
    right: 0;
    margin: auto;
    display: block;
    margin-top: 20px;
    opacity: .7;
}