<body>
    <div class="about-container">
        <img class="header-img" src="/images/about.png" />
        <p class="about-header">About project</p>
        <p class="about-small-header">Weather App was created as part of a recruiting assigment for Predica. Application objectives &amp; features:</p>
        <p class="about-text-content">
        <br><br>-User can set new account on StandardUser permission. Only user with Administrator permission can change privileges by 'Accounts' view inside Administrator panel
        <br><br>-StandardUser can check weather data by clicking voivodeship on interactive Polands's map located on the UserPanel. After voivodeship click, it's gonna change color then under the map will appear weather data panel. For voivodeships which have more than one voivodeship's city there is a button on weather data panel which will appear after voivodeship picking. Administrator have the same feature on AdministratorPanel.
        <br><br>-User with StandardUser permission in section 'Account' can only change password. Administrator in corressponding view named 'Accounts' is able to change own api_key and promote user to higher permission, Administrator cannot revoke privileges other Administrators.
        <br><br>-Incase if StandardUser will try to get to url which require Administrator permission will see 'AccessDenied' view with proper information.
        <br><br>-Only Administrator can update database by getting actual data from OpenWeather Api, according to task requirements. Additionally only Administrator has possibility to insert own api_key which is assigned to its username in database.
        </p>
        <p class="container-footer">Project and design of Weather App - Sebastian Knych</p>
    </div>
</body>
