<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/weatherApp.css" />
    <title>Weather Application</title>
</head>
<body>
    <div class="wrapper">
        <div class="logged-container">
            <div class="top-menu-container">
                <div class="top-menu">
                    <ul class="menu">
                        <li>
                            <a href="/Home/AdministratorPanel">Home</a>
                        </li>
                        <li>
                            <a href="/About/AboutAdmin">About</a>
                        </li>
                        <li>
                            <a href="/Refresh/RefreshPage">Refresh</a>
                        </li>
                        <li>
                            <a href="/Account/Accounts">Accounts</a>
                        </li>
                    </ul>
                </div>
                <div class="logout">
                    <a href="/Account/Logout">
                        <img src="~/images/power-off.png" />
                        <span>Logout</span>
                    </a>
                </div>
            </div>
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>