@{
    Layout = "_LoggedLayout";
}
<body>
    <div class="top-menu-container">
        <div class="top-menu">
            <ul class="menu">
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>About</a>
                </li>
                <li>
                    <a>Accounts</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a href="/Account/Logout">
                <img src="~/images/power-off.png" />
                <span>Logout</span>
            </a>
        </div>
    </div>
    <div class="container">
    </div>
</body>